* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 50px;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.5)), url("../img/HeroImage.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about {
    background-color: #d6d4d4;
  }