@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Dancing+Script:wght@700&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive; */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 50px;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.5)), url("../img/HeroImage.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about {
    background-color: #d6d4d4;
  }

  input, textarea {
    background-color: #cccccc !important;
  }

  footer {
    background-color: #000000;
  }

  h1, h3 {
    font-family: 'Dancing Script', cursive;
  }

  h2 {
    font-family: 'Abril Fatface', cursive;
  }

.onyx {
    font-size: 60px;
}